:root {
  --text-xxs: 0.5rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --color-bg: #111827;
  --inner-bg: #1f2937;
  --white-but-not: #d6d3d1; /* text-stone-300 */
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-sen: "Sen", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@font-face {
  font-family: Comfortaa;
  src: url("/fonts/Comfortaa.ttf") format("truetype");
}

@font-face {
  font-family: Sen;
  src: url("/fonts/Sen.ttf") format("truetype");
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: var(--font-comfortaa);
  font-weight: 400;
  color: var(--color-bg);
  background-color: var(--color-bg);
}

span,
p,
h1,
h2,
h2 {
  color: var(--white-but-not);
}

img {
  filter: drop-shadow(3px 3px 5px #000);
}

a {
  text-decoration: none;
  color: var(--white-but-not);
  pointer-events: auto;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

li {
  margin-block: 0.25rem;
}

h1,
p {
  margin-block: 0.25rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;

  &::before {
    font-size: 1em;
    color: currentcolor;
    content: "•";
  }
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: revert;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3rem;
  grid-row: 1;
  overflow-y: hidden;
}

[data-tap].tap {
  animation: scaleUp 500ms ease;
}

@media (width >= 48rem) {
  .innerContainer {
    padding: 3rem 4rem;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(var(--scale));
  }

  100% {
    transform: scale(1);
  }
}
