img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;

  h1 {
    font-size: var(--text-4xl);
  }
}

.selectorContainer {
  position: relative;
  display: flex;

  gap: 1rem;
  padding: 0.75rem;
  border: 1px solid var(--white-but-not);
  border-radius: 5rem;
  box-shadow: 2px 2px 10px #000;
  width: fit-content;
  margin: 0 auto;
}

.selector {
  width: 5.5rem;
  padding: 0.75rem 0;
  font-size: var(--text-xs);
  text-align: center;
  border: 1px solid var(--white-but-not);
  border-radius: 5rem;
  cursor: pointer;
  margin-block: 0;
}

.selectorIndicator {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  width: 5rem;
  background-color: var(--color-yellow);
  border-radius: 5rem;
  opacity: 0.5;
  transform: translateX(calc(6.5rem * var(--offset)));
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 350ms;
  cursor: pointer;
}

.membersContainer {
  position: relative;
  width: auto;
  height: auto;
}

.membersBackground {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.memberContainer {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  perspective: 31.25rem;
  transform-style: preserve-3d;
  pointer-events: none;
  z-index: 1;
}

#imageContainer {
  --offsetX: calc(var(--offset) * 5rem);
  --rotateY: 25deg;
  --opacity: 0.65;
  position: absolute;
  top: 4rem;
  width: 8rem;
  aspect-ratio: 1 / 1;
  transition: top 400ms ease, 400ms ease, scale 750ms ease, opacity 350ms ease;
  filter: drop-shadow(3px 3px 5px #333);
  pointer-events: auto;
  z-index: calc(100 - abs(var(--offset)));

  &.default {
    opacity: var(--opacity);
    cursor: pointer;
    transform: translateX(calc(var(--offsetX) + 1rem))
      rotateY(calc(var(--rotateY) * -0.5));
  }

  &.activeImage {
    z-index: 100;
    opacity: 1;
    scale: 1.3;
  }

  &.rightImage {
    transform-origin: left center;
    opacity: calc(1 - calc(abs(var(--offset)) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -1));
  }

  &.leftImage {
    transform-origin: right center;
    opacity: calc(1 - calc(abs(var(--offset)) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * 1));
  }
}

.hoverContainer {
  position: relative;
}

#textContainer {
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.375rem;
  border: 1px solid var(--white-but-not);
  animation: appear ease-in-out 1000ms forwards 100ms;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px #000;
  justify-self: center;
  opacity: 0;
}

.name {
  font-size: var(--text-sm);
  text-align: center;
}

.desc {
  font-size: var(--text-xs);
  text-align: left;
  overflow-wrap: break-word;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media (width >= 48rem) {
  .container {
    gap: 2rem;
  }

  .selectorIndicator {
    width: 7rem;
    transform: translateX(calc(8.5rem * var(--offset)));
  }

  .selector {
    width: 7.5rem;
    padding: 0.75rem 0.25rem;
    font-size: var(--text-md);
  }

  #imageContainer {
    --offsetX: calc(var(--offset) * 7rem);
    --rotateY: 40deg;
    width: 12rem;
    height: 12rem;

    &.default {
      top: 25%;
      scale: 1.25;
    }
  }

  .textContainer {
    width: 15rem;
  }
}
