img {
  display: block;
  width: 5rem;
  height: 5rem;
  filter: drop-shadow(3px 3px 5px #000);
  object-fit: cover;
  pointer-events: auto;
}

.container {
  display: grid;
  width: 100%;
  height: 18rem;
  perspective: 31.25rem;
  pointer-events: none;
  transform-style: preserve-3d;
}

// center leftImage and rightImage when activeImage is on
.imageContainer {
  --offsetX: calc(var(--offset) * 2rem);
  --rotateY: 25deg;
  --translateZ: 5rem;
  --opacity: 0.65;

  display: inline-flex;
  transition:
    transform 400ms ease,
    opacity 350ms ease;
  grid-area: 1 / 1;
  justify-self: center;
  place-items: center;
  pointer-events: none;

  &.default {
    z-index: calc(100 - var(--offset));
    opacity: var(--opacity);
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -0.5))
      translateZ(calc(var(--translateZ) * -1));
  }

  &.activeImage {
    z-index: 100;
    opacity: 1;
    transform: scale(1.3);
  }

  &.rightImage {
    z-index: calc(100 - var(--offset));
    opacity: calc(1 - calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -1))
      translateZ(calc(var(--translateZ) * -1));
  }

  &.leftImage {
    z-index: calc(100 + var(--offset));
    opacity: calc(1 + calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * 1))
      translateZ(calc(var(--translateZ) * -1));
  }
}

.gridContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.375rem;
  border: 1px solid var(--white-but-not);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px #000;
  opacity: 0;
  animation: appear ease-in-out 1000ms forwards 100ms;
  grid-row: 2;

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0 !important;
  }
}

.name {
  font-size: var(--text-sm);
  text-align: center;
}

.desc {
  font-size: var(--text-xs);
  text-align: left;
  overflow-wrap: break-word;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media (width >= 48rem) {
  img {
    width: 8rem;
    height: 8rem;
  }

  .imageContainer {
    --offsetX: calc(var(--offset) * 5rem);

    transition:
      transform 400ms ease,
      scale 500ms ease,
      opacity 350ms ease;
  }
}
