img {
  display: block;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  filter: drop-shadow(3px 3px 5px #000);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  perspective: 31.25rem;
  transform-style: preserve-3d;
  inset: 0;
}

// center leftImage and rightImage when activeImage is on
.imageContainer {
  --offsetX: calc(var(--offset) * 2rem);
  --rotateY: 25deg;
  --translateZ: 5rem;
  --opacity: 0.65;

  position: absolute;
  top: 4rem;
  transition:
    transform 400ms ease,
    scale 750ms ease,
    opacity 350ms ease;

  &.default {
    z-index: calc(100 - var(--offset));
    opacity: var(--opacity);
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -0.5))
      translateZ(calc(var(--translateZ) * -1));
  }

  &.activeImage {
    z-index: 100;
    opacity: 1;
    scale: 1.3;
  }

  &.rightImage {
    z-index: calc(100 - var(--offset));
    opacity: calc(1 - calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -1))
      translateZ(calc(var(--translateZ) * -1));
  }

  &.leftImage {
    z-index: calc(100 + var(--offset));
    opacity: calc(1 + calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * 1))
      translateZ(calc(var(--translateZ) * -1));
  }
}

#textContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.375rem;
  border: 1px solid var(--white-but-not);
  animation: appear ease-in-out 1000ms forwards 100ms;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px #000;
  justify-self: center;
  opacity: 0;
}

.name {
  font-size: var(--text-sm);
  text-align: center;
}

.desc {
  font-size: var(--text-xs);
  text-align: left;
  overflow-wrap: break-word;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media (min-width: 48rem) {
  img {
    width: 8rem;
    height: 8rem;
  }
  .imageContainer {
    --offsetX: calc(var(--offset) * 5rem);
    
    transition:
      transform 400ms ease,
      scale 500ms ease,
      opacity 350ms ease;
  }
}
