img,
.image {
  display: block;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  pointer-events: auto;
}

.container {
  display: grid;
  width: calc(100% + 2rem);
  min-height: 12rem;
  margin-left: -1rem;
  overflow-x: clip;
  perspective: 31.25rem;
  pointer-events: none;
  transform-style: preserve-3d;
}

.imageContainer {
  --offsetX: calc(var(--offset) * 3rem);
  --rotateY: 25deg;
  --translateZ: 5rem;
  --opacity: 0.75;

  display: inline-flex;
  transition:
    transform 400ms ease,
    opacity 350ms ease;
  grid-area: 1 / 1;
  place-items: center;
  place-self: center center;
  pointer-events: none;

  &.default {
    z-index: calc(100 - var(--offset));
    opacity: var(--opacity);
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -0.5))
      translateZ(calc(var(--translateZ) * -1)) scale(1.5);
  }

  &.activeImage {
    z-index: 100;
    opacity: 1;
    transform: scale(1.3);
  }

  &.rightImage {
    z-index: calc(100 - var(--offset));
    opacity: calc(1 - calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * -1))
      translateZ(calc(var(--translateZ) * -1));
  }

  &.leftImage {
    z-index: calc(100 + var(--offset));
    opacity: calc(1 + calc(var(--offset) * 0.1));
    cursor: pointer;
    transform: translateX(var(--offsetX)) rotateY(calc(var(--rotateY) * 1))
      translateZ(calc(var(--translateZ) * -1));
  }
}

.gridContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
}

#textContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  max-width: 14rem;
  max-height: 0%;
  margin-top: 0.5rem;
  text-align: center;
  background-color: var(--color-bg);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px #000;
  opacity: 0;
  transition:
    height 200ms ease,
    opacity 200ms ease;
  animation: appear ease-in-out 1000ms forwards 100ms;
  grid-row: 2;

  &.show {
    max-height: 10rem;
    border: 1px solid var(--white-but-not);
    opacity: 1;
  }
}

.title {
  width: 100%;
  font-size: var(--text-xs);
}

.artist {
  width: 100%;
  font-size: var(--text-xxs);
  overflow-wrap: break-word;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media (width >= 48rem) {
  img,
  .image {
    width: 8rem;
    height: 8rem;
  }

  .container {
    min-height: 18rem;
  }

  .imageContainer {
    --offsetX: calc(var(--offset) * 5rem);

    transition:
      transform 400ms ease,
      scale 500ms ease,
      opacity 350ms ease;
  }
}
