.container {
  display: flex;
  flex-direction: column;
}

.songContainer {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-image: linear-gradient(90deg, rgb(15 23 42), #1e293b);
  border-radius: 0.25rem;
  box-shadow: 3px 3px 5px #000;

  h2 {
    font-size: var(--text-base);
    text-align: center;
    margin-block: 0;
  }
}

.songHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  svg {
    color: var(--white-but-not);
  }
}

.songInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.image {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  filter: drop-shadow(3px 3px 3px rgb(0 0 0));
}

.songInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songName {
  font-size: var(--text-2xl);
  font-weight: bold;
  text-align: center;
  margin-block: 0.125rem;
}

.artist {
  font-size: var(--text-base);
  text-align: center;
  margin-block: 0.125rem;
}

.innerHeader {
  font-size: var(--text-base);
}

@media (width >= 48rem) {
  .container {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}
