---
import Name from "../components/name.astro";
import Socials from "../components/socials.astro";
import Songs from "../components/songs";
import Spotify from "../components/spotify";
---

<div class="homeContainer" id="homeContainer">
  <div class="expandContainer" id="expandContent">
    <Name />
    <div class="windowContainer">
      <Songs client:load />
      <Spotify client:load />
      <div class="socialsContainer">
        <Socials />
      </div>
    </div>
  </div>
</div>

<style>
  .homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 1rem 1.3rem;
    background: var(--color-bg);
  }

  .expandContainer {
    display: inline-flex;
    flex-direction: column;
    width: var(--start-width);
    height: var(--start-height);
    padding: 1rem;
    background-color: var(--inner-bg);
    border: 1px solid var(--white-but-not);
    animation: expand 2s ease-in-out 1.5s forwards;
  }

  .windowContainer {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, #000, #000, #333, #333);
    background-color: gray;
    background-size: 100% 3px;
    border: 1px var(--white-but-not) solid;
    border-radius: 1rem;
    opacity: 0;
    animation:
      appear 2s ease-in-out 1.3s forwards,
      scanlines 55s linear 2s infinite;
  }

  .socialsContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 1rem 1rem 0 0;
    opacity: 0;
    animation: appearSocials 2s ease-in-out 4.5s forwards;
    border-left: 1px var(--white-but-not) solid;
    border-right: 1px var(--white-but-not) solid;
    border-top: 1px var(--white-but-not) solid;
    transform: translateY(5rem) translateX(-50%);
  }

  @keyframes appear {
    to {
      visibility: visible;
      flex-grow: 1;
      opacity: 1;
    }
  }

  @keyframes expand {
    to {
      overflow: hidden;
      width: var(--target-width);
      height: var(--target-height);
    }
  }

  @keyframes scanlines {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 0 -10px;
    }
  }

  @keyframes appearSocials {
    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }

  @media (width >= 48rem) {
    .homeContainer {
      padding: 3rem 4rem;
    }

    .expandContainer {
      padding: 1.5rem 2.5rem;
    }
  }
</style>

<script type="module">
  const container = document.getElementById("homeContainer");
  const expand = document.getElementById("expandContent");

  const containerStyles = getComputedStyle(container);
  let paddingX =
    parseFloat(containerStyles.paddingLeft) +
    parseFloat(containerStyles.paddingRight);
  let paddingY =
    parseFloat(containerStyles.paddingTop) +
    parseFloat(containerStyles.paddingBottom);
  const targetWidth = container.clientWidth - paddingX + "px";
  const targetHeight = container.clientHeight - paddingY + "px";

  const expandStyles = getComputedStyle(expand);
  paddingX =
    parseFloat(expandStyles.paddingLeft) +
    parseFloat(expandStyles.paddingRight);

  const startWidth = expand.clientWidth - paddingX + "px";
  const startHeight = expand.clientHeight + "px";

  expand.style.setProperty("--start-width", startWidth);
  expand.style.setProperty("--start-height", startHeight);
  expand.style.setProperty("--target-width", targetWidth);
  expand.style.setProperty("--target-height", targetHeight);
</script>
