---
import Heading from "../components/heading.astro";
import Name from "../components/name.astro";
import Socials from "../components/socials.astro";
import Songs from "../components/songs";
import Spotify from "../components/spotify";
import Waves from "../components/waves";
import Layout from "../layouts/Layout.astro";
import "../styles/_base.scss";

const ifAnimate = Astro.url.pathname == "/";
---

<Layout>
  <div class="container">
    <div class="homeContainer" id="homeContainer">
      <div
        class={`expandContainer ${ifAnimate ? "expand" : ""}`}
        id="expandContent"
      >
        {ifAnimate && <Name />}
        <div class={`windowContainer ${ifAnimate ? "appear" : ""}`}>
          <Heading />
          <Songs client:load />
          <Spotify client:load />
          <Socials />
        </div>
      </div>
    </div>
    <Waves client:load />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .homeContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.3rem;
    background: var(--color-bg);
  }

  .expandContainer {
    display: inline-flex;
    flex-direction: column;
    width: var(--target-width);
    height: var(--target-height);
    padding: 0rem;
    background-color: var(--inner-bg);
    border: 1px solid var(--white-but-not);

    &.expand {
      width: var(--start-width);
      height: var(--start-height);
      animation: expand 2s ease-in-out 1.5s forwards;
    }
  }

  .windowContainer {
    position: relative;

    overflow: hidden;
    align-items: center;
    width: 100%;

    background: linear-gradient(to top, #000, #000, #333, #333);
    background-color: gray;
    background-size: 100% 3px;
    border: 2px var(--white-but-not) solid;
    border-radius: 0.375rem;

    animation: scanlines 55s linear 2s infinite;

    visibility: visible;
    flex-grow: 1;
    opacity: 1;

    &.appear {
      visibility: hidden;
      height: 0;
      opacity: 0;
      animation: appear 2s ease-in-out 1.3s forwards;
    }
  }

  @keyframes appear {
    to {
      visibility: visible;
      flex-grow: 1;
      opacity: 1;
    }
  }

  @keyframes expand {
    to {
      overflow: hidden;
      width: var(--target-width);
      height: var(--target-height);
    }
  }

  @keyframes scanlines {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 0 -10px;
    }
  }

  @keyframes appearSocials {
    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }

  @media (width >= 48rem) {
    .homeContainer {
      padding: 3rem 4rem;
    }

    .expandContainer {
      padding: 1.5rem 2.5rem;
    }
  }
</style>

<script type="module">
  const container = document.getElementById("homeContainer");
  const expand = document.getElementById("expandContent");

  const containerStyles = getComputedStyle(container);
  let paddingX =
    parseFloat(containerStyles.paddingLeft) +
    parseFloat(containerStyles.paddingRight);
  let paddingY =
    parseFloat(containerStyles.paddingTop) +
    parseFloat(containerStyles.paddingBottom);
  const targetWidth = container.clientWidth - paddingX + "px";
  const targetHeight = container.clientHeight - paddingY + "px";

  const expandStyles = getComputedStyle(expand);
  paddingX =
    parseFloat(expandStyles.paddingLeft) +
    parseFloat(expandStyles.paddingRight);

  const startWidth = expand.clientWidth - paddingX + "px";
  const startHeight = expand.clientHeight + "px";

  expand.style.setProperty("--start-width", startWidth);
  expand.style.setProperty("--start-height", startHeight);
  expand.style.setProperty("--target-width", targetWidth);
  expand.style.setProperty("--target-height", targetHeight);
</script>
