---
import Name from "../components/name.astro";
import Waves from "../components/waves";
import Layout from "../layouts/Layout.astro";
import WindowLayout from "../layouts/WindowLayout.astro";

const ifAnimate = Astro.url.pathname == "/";
---

<Layout>
  <div id="container" class="innerContainer">
    <div
      class={`expandContainer ${ifAnimate ? "expand" : ""}`}
      id="expandContent"
    >
      {ifAnimate && <Name />}
      <WindowLayout>
        <h1>HI!</h1>
      </WindowLayout>
    </div>
  </div>
  <Waves client:load />
</Layout>

<style>
  .expandContainer {
    display: inline-flex;
    flex-direction: column;
    width: var(--target-width);
    height: var(--target-height);
    padding: 0;

    &.expand {
      width: var(--start-width);
      height: var(--start-height);
      background-color: var(--inner-bg);
      border: 2px solid var(--white-but-not);
      animation:
        expandWindow 2s ease-in-out 1.5s forwards,
        disappearWindow 1s ease-in-out 7.5s forwards;
    }
  }

  @keyframes expandWindow {
    to {
      overflow: hidden;
      width: var(--target-width);
      height: var(--target-height);
    }
  }

  @keyframes disappearWindow {
    to {
      background-color: transparent;
      border: 0;
    }
  }

  @media (width >= 48rem) {
    .expandContainer {
      padding: 1.5rem 2.5rem;
    }
  }
</style>

<script type="module">
  function runExpandLogic() {
    const container = document.getElementById("container");
    const expand = document.getElementById("expandContent");

    if (!container || !expand) return;

    const containerStyles = getComputedStyle(container);
    let paddingX =
      parseFloat(containerStyles.paddingLeft) +
      parseFloat(containerStyles.paddingRight);
    let paddingY =
      parseFloat(containerStyles.paddingTop) +
      parseFloat(containerStyles.paddingBottom);

    const targetWidth = container.clientWidth - paddingX + "px";
    const targetHeight = container.clientHeight - paddingY + "px";

    const expandStyles = getComputedStyle(expand);
    paddingX =
      parseFloat(expandStyles.paddingLeft) +
      parseFloat(expandStyles.paddingRight);

    const startWidth = expand.clientWidth - paddingX + "px";
    const startHeight = expand.clientHeight + "px";

    expand.style.setProperty("--start-width", startWidth);
    expand.style.setProperty("--start-height", startHeight);
    expand.style.setProperty("--target-width", targetWidth);
    expand.style.setProperty("--target-height", targetHeight);
  }

  function setupExpand() {
    runExpandLogic();
  }

  document.addEventListener("astro:page-load", setupExpand);
  document.addEventListener("astro:after-swap", setupExpand);
</script>
