---
import AboutMe from "../components/aboutMe.astro";
import Layout from "../layouts/Layout.astro";
import WindowLayout from "../layouts/WindowLayout.astro";
---

<Layout>
  <div class="innerContainer">
    <WindowLayout>
      <AboutMe />
    </WindowLayout>
  </div>
</Layout>
