---
import Spotify from "../components/spotify";
import Layout from "../layouts/Layout.astro";
import WindowLayout from "../layouts/WindowLayout.astro";
import DisplaySongs from "../components/displaySongs.tsx";
---

<Layout>
  <div class="innerContainer">
    <WindowLayout>
      <Spotify client:load />
      <h1>song recs</h1>
      <DisplaySongs transition:persist client:load />
    </WindowLayout>
  </div>
</Layout>

<style>
  .innerContainer {
    h1 {
      text-align: center;
    }
  }
</style>
