<div class="container">
  <h1>James</h1>
  <p></p>
  <img src="/profilePicture.webp" />
</div>

<style>
  .container {
    h1,
    p {
      font-family: var(--font-sen);
    }

    img {
      width: 5rem;
      height: auto;
    }
  }
</style>
