---
import Image from "astro/components/Image.astro";
import ProfilePicture from ".././assets/profilePicture.webp";
import { Icon } from "astro-icon/components";
---

<div class="container">
  <div class="aboutContainer">
    <div class="imageContainer">
      <Image src={ProfilePicture} class="profilePicture scaleUp" alt="woah" />
      <Icon name="epiccarlito" class="profilePicture scaleUp" />
    </div>
    <div class="textContainer">
      <h1>James</h1>
      <p>junior at bronx high school of science</p>
      <p>frc programmer, former ftc programmer and distance runner</p>
    </div>
  </div>

  <p class="lastUpdated dropShadow">updated: 2/28/26 (msg: i love astro ❤️ )</p>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;

    svg {
      margin-left: -0.5rem;
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: row;
  }

  .textContainer {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: var(--font-comfortaa);
      font-size: var(--text-5xl);
    }

    p {
      font-family: var(--font-sen);
      font-size: var(--text-base);
    }
  }

  .profilePicture {
    width: 8rem;
    height: auto;
    border-radius: 2rem;
    filter: drop-shadow(3px 3px 5px #000);
  }

  .lastUpdated {
    width: fit-content;
    padding: 0.5rem;
    background-color: var(--inner-bg);
  }

  @media (width >= 48rem) {
    .aboutContainer {
      flex-direction: row;
    }

    .headerContainer {
      h1 {
        font-size: var(--text-6xl);
      }

      p {
        font-size: var(--text-lg);
      }
    }
  }
</style>
