---
import { Icon } from "astro-icon/components";

const pages = [
  { name: "Home", icon: "mdi:home", href: "/home", alt: "/" },
  { name: "Music", icon: "mdi:music-note-eighth", href: "/music" },
];

const { pathname } = Astro.url;
---

<div class="container">
  {
    pages.map((page, i) => {
      const ifActive = pathname == page.href || pathname == page.alt ;

      return (
        <>
          <a class={`outlineLink ${ifActive ? "active" : ""}`} href={page.href}>
            <div class="inner">
              <Icon name={page.icon} />
              <h1>{page.name}</h1>
            </div>
          </a>
          <div class="divider" />
        </>
      );
    })
  }
</div>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 2.75rem;
    background-color: var(--inner-bg);
    border-bottom: 0.5rem var(--color-bg) solid;
  }

  .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    margin-left: 1rem;

    h1 {
      font-size: var(--text-sm);
      text-align: center;
      margin-block: 0;
    }
  }

  .divider {
    align-self: center;
    width: 0.175rem;
    height: 50%;
    background-color: darkgray;
    border-radius: 5rem;
  }

  .outlineLink {
    --tabGirth: 0.5rem;

    display: flex;
    align-items: center;
    width: 7rem;
    height: 2rem;
    transition: clip-path 10s ease-in-out;

    &.active {
      background-color: var(--color-bg);
      filter: drop-shadow(3px 3px 5px #000);
      clip-path: shape(
        from bottom left,
        curve to var(--tabGirth) calc(100% - var(--tabGirth)) with
          var(--tabGirth) 100%,
        vline to var(--tabGirth),
        curve to calc(var(--tabGirth) * 2) 0 with var(--tabGirth) 0,
        hline to calc(100% - calc(var(--tabGirth) * 2)),
        curve to calc(100% - var(--tabGirth)) var(--tabGirth) with
          calc(100% - var(--tabGirth)) 0,
        vline to calc(100% - var(--tabGirth)),
        curve to 100% 100% with calc(100% - var(--tabGirth)) 100%
      );
    }
  }
</style>
