---
const text = "EpicCarlito";
---

<div class="container">
  <h1 class="name">
    {
      text.split("").map((letter, i) => {
        const middle = (text.length - 1) / 2;
        const delay = Math.abs(i - middle) * 0.1;

        return (
          <span class="letter" style={{ "--delay": `${delay}s` }}>
            {letter}
          </span>
        );
      })
    }
  </h1>
</div>

<style>
  h1,
  p {
    margin-block: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    height: calc(clamp(var(--text-5xl), 5vw, var(--text-8xl)));
    animation: disappear 2.5s ease-in-out forwards 5s;
    margin-block: 1rem;
  }

  .name {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-sen);
    font-size: clamp(var(--text-5xl), 5vw, var(--text-8xl));
    font-weight: 800;
    animation: slideUp 2.5s ease-in-out forwards 5s;
    transform: perspective(31.25rem) rotateX(-2deg);
    transform-style: preserve-3d;
  }

  .letter {
    display: inline-block;
    color: var(--white-but-not);
    opacity: 0;
    animation:
      zoomIn 0.75s ease-in-out forwards,
      zoomOut 1.75s ease-in-out forwards calc(var(--delay) + 0.75s);
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: translateZ(25rem);
    }

    to {
      opacity: 1;
      transform: translateZ(-8rem);
    }
  }

  @keyframes zoomOut {
    0% {
      transform: translateZ(-8rem);
    }

    50% {
      transform: translateZ(5.5rem);
    }

    100% {
      transform: translateZ(0);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-10rem);
    }
  }

  @keyframes disappear {
    to {
      height: 0;
      margin-block: 0;
    }
  }
</style>
