---
import { Icon } from "astro-icon/components";
// discord instagram github starva
const ifAnimate = Astro.url.pathname == "/";
---

<div class={`socialsContainer ${ifAnimate ? "animate" : ""}`}>
  <div class="container">
    <a class="link" href="https://www.instagram.com/epiccarlito/">
      <Icon id="icon" name="mdi:instagram" />
    </a>
    <a class="link" href="https://github.com/epiccarlito">
      <Icon id="icon" name="mdi:github" />
    </a>
  </div>
</div>

<style>
  [data-icon] {
    font-size: 2rem;
    color: var(--white-but-not);
  }

  .socialsContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--color-bg);
    border-radius: 1rem 1rem 0 0;
    border-left: 1px var(--white-but-not) solid;
    border-right: 1px var(--white-but-not) solid;
    border-top: 1px var(--white-but-not) solid;
    transform: translateX(-50%);

    &.animate {
      opacity: 0;
      animation: appearSocials 2s ease-in-out 4.5s forwards;
      transform: translateY(5rem) translateX(-50%);
    }
  }

  .container {
    display: flex;
    gap: 0.325rem;
    padding: 0.5rem;
  }

  .link {
    display: inline-flex;
    color: var(--white-but-not);
    transition: transform 300ms ease;
    cursor: pointer;
  }

  link:hover {
    transform: scale(1.2);
  }

  .icon {
    filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 5%));
  }

  @keyframes appearSocials {
    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }

  @media (width >= 48rem) {
    [data-icon] {
      font-size: 2.5rem;
    }
  }
</style>
