@tailwind base;
@tailwind components;
@tailwind utilities;

.font-comfortaa {
    font-family: 'Comfortaa';
}

body {
  background-color: #1c1c1e;
  color: white;
  height: 100%;
}

@keyframes wave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}