<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
</style>

<script is:inline>
  document.addEventListener("pointerdown", (element) => {
    const selected = element.target.closest("[data-tap]");
    if (!selected) return;

    const scale = selected.dataset.tap;
    selected.style.setProperty("--scale", scale);

    selected.classList.remove("tap");
    void selected.offsetWidth;
    selected.classList.add("tap");
  });
</script>
