---
import Waves from "../components/waves";
import "../styles/_base.scss";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>EpicCarlito</title>
    <meta property="og:title" content="EpicCarlito" />
    <meta property="og:url" content="https://epiccarlito.vercel.app/" />
    <meta
      property="og:image"
      content="https://i.imgur.com/B26NEIr.png?size=512"
    />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#7289da" />
    <ClientRouter />
  </head>
  <body>
    <div class="container" transition:name="container" transition:animate="fade">
      <slot />
      <Waves client:load />
    </div>
  </body>
</html>

<style>
  .container {
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 1fr auto;
  }
</style>

<script is:inline>
  document.addEventListener("pointerdown", (element) => {
    const selected = element.target.closest("[data-tap]");
    if (!selected) return;

    const scale = selected.dataset.tap;
    selected.style.setProperty("--scale", scale);

    selected.classList.remove("tap");
    void selected.offsetWidth;
    selected.classList.add("tap");
  });
</script>
